# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Chroma database
chroma_db/
src/chroma_db/

# VSCode
.vscode/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db